.main {
    background-image: url('../image/login-background.jpg');
    background-size: cover;

}

.input {
    margin: 20px 0 !important;
    width: 250px;
}

.error {
    width: 250px;
    margin: 10px 0;
    background-color: rgb(250, 205, 212);
}